@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --colorA: #F5F8FE;
    --colorB: #1B254B;
}

.dark {
    --colorA: #0B1437;
    --colorB: #FFFFFF;
}

.bg{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--colorA);
    color: var(--colorB);
    width: 100dvw;
    height: 100dvh;
}

button{
    color: var(--colorB);
    border: none;
    outline: none;
    background: none;
}

